@import url('https://fonts.googleapis.com/css?family=Lemonada');
body{
color:cornflowerblue;
text-align: justify;
font-family: verdana;
    font-family: 'Lemonada', cursive;
width: 90%;
    margin: 0 auto;
  
}
h1{
    text-align: center;
    text-decoration: underline;
}
p{
text-indent: 50px;
word-spacing: 5px;

}
footer{
text-align: right;
}
address{
text-align: right;
}
 i .fa-address-card{
color: blue;
font-size: 3em;
}
