@import url('https://fonts.googleapis.com/css?family=Lemonada');
body{
color:cornflowerblue;
text-align: justify;
font-family: verdana;
    font-family: 'Lemonada', cursive;
width: 90%;
    margin: 0 auto;
    background-color: beige;
  
}
h1{
    text-align: center;
    text-decoration: underline;
}
p{
text-indent: 50px;
word-spacing: 5px;

}
footer{
text-align: right;
}
address{
text-align: right;
}
i.fa-envelope-open{
color: blue;
font-size: 6em;
    width: 50%;
    margin: 0auto;
}
i.fa-whatsapp{
    color: blue;
    background-color:aliceblue;
    font-size: 2em;
    margin: 0auto;
}